@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  font-size: 16px;
}

@font-face {
  font-family: "Pangea Trial";
  src: url("/pangea/PangeaTrial-RegularWeb.woff2") format("woff2"),
       url("/pangea/PangeaTrial-RegularWeb.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pangea Trial";
  src: url("/pangea/PangeaTrial-BoldWeb.woff2") format("woff2"),
       url("/pangea/PangeaTrial-BoldWeb.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

/*
The font-weight follows standard CSS values:
300 → Light
400 → Regular
500 → Medium
600 → SemiBold
700 → Bold
*/